[submodule "nanopb/nanopb"]
	path = components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/--init"]
	path = external/jsmnit
	url = https://github.com/zwiebert/jsmnit.git
